In [1]:
import pandas as pd
import numpy as np

In [2]:
mydata=pd.read_excel(r"C:/Users/SHUBH_RAM/Desktop/Tool_PPT/Ml_Data/mp_up_data/mp_16.xlsx")

In [3]:
mydata.head()

,ID,MP Name,Nature of membership,Start of Term,End of Term,Number of terms,Constituency,State,Political party,Gender,...,National Debates average,National Private Member Bills average,National Questions average,National Attendance average,State's Debates average,State's Private Member Bills average,State Questions,State's Attendance average,Unnamed: 26,House
0,852,Ajay Misra Teni,Elected,"Sunday, May 18, 2014",In office,First,Kheri,Uttar Pradesh,Bharatiya Janata Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
1,855,Akshay Yadav,Elected,"Sunday, May 18, 2014",In office,First,Firozabad,Uttar Pradesh,Samajwadi Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
2,865,Anju Bala,Elected,"Sunday, May 18, 2014",In office,First,Misrikh,Uttar Pradesh,Bharatiya Janata Party,Female,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
3,867,Anshul Verma,Elected,"Sunday, May 18, 2014",In office,First,Hardoi,Uttar Pradesh,Bharatiya Janata Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
4,870,Anupriya Singh Patel,Elected,"Sunday, May 18, 2014",In office,First,Mirzapur,Uttar Pradesh,Apna Dal,Female,...,35.4,1.0,137.0,80.0,51.8,0.7,82.0,0.86,NaN,Lok Sabha

In [4]:
#Total Row and column
mydata.shape

(82, 28)

#### extract a column using square brackets []

In [9]:
mydata["Constituency"][:5]

0        Kheri
1    Firozabad
2      Misrikh
3       Hardoi
4     Mirzapur
Name: Constituency, dtype: object

In [8]:
mydata[["Constituency","State"]][:5]

  Constituency          State
0        Kheri  Uttar Pradesh
1    Firozabad  Uttar Pradesh
2      Misrikh  Uttar Pradesh
3       Hardoi  Uttar Pradesh
4     Mirzapur  Uttar Pradesh

##### Selecting pandas data using “loc”

In [12]:
#Select two rows and three columns
mydata.loc[["R1","R2"],["c1","c2","C3"]]

In [14]:
#Selecting all of the rows and some columns and display top 10 samples
mydata.loc[:, ["Constituency","State"]][:10]

     Constituency          State
0           Kheri  Uttar Pradesh
1       Firozabad  Uttar Pradesh
2         Misrikh  Uttar Pradesh
3          Hardoi  Uttar Pradesh
4        Mirzapur  Uttar Pradesh
5          Etawah  Uttar Pradesh
6  Fatehpur Sikri  Uttar Pradesh
7         Kairana  Uttar Pradesh
8           Banda  Uttar Pradesh
9          Jalaun  Uttar Pradesh

In [15]:
#Selecting a single row with .iloc
mydata.iloc[0]

ID                                                                                     852
MP Name                                                                    Ajay Misra Teni
Nature of membership                                                               Elected
Start of Term                                                         Sunday, May 18, 2014
End of Term                                                                      In office
Number of terms                                                                      First
Constituency                                                                         Kheri
State                                                                        Uttar Pradesh
Political party                                                     Bharatiya Janata Party
Gender                                                                                Male
Educational qualifications                                           Professional Graduate
Educational qualifications - details                                          B.Sc., LL.B.
Age                                                                                     58
Debates                                                                                246
Private Member Bills                                                                     6
Questions                                                                              482
Attendance                                                                            0.95
Notes                                    (Data corresponds to the period from 1 Jun 201...
National Debates average                                                              67.1
National Private Member Bills average                                                  2.3
National Questions average                                                             292
National Attendance average                                                             80
State's Debates average                                                              109.6
State's Private Member Bills average                                                   1.8
State Questions                                                                        197
State's Attendance average                                                            0.86
Unnamed: 26                                                                            NaN
House                                                                            Lok Sabha
Name: 0, dtype: object

In [20]:
#Selecting multiple rows with .iloc
mydata.iloc[[0,3,4]]

,ID,MP Name,Nature of membership,Start of Term,End of Term,Number of terms,Constituency,State,Political party,Gender,...,National Debates average,National Private Member Bills average,National Questions average,National Attendance average,State's Debates average,State's Private Member Bills average,State Questions,State's Attendance average,Unnamed: 26,House
0,852,Ajay Misra Teni,Elected,"Sunday, May 18, 2014",In office,First,Kheri,Uttar Pradesh,Bharatiya Janata Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
3,867,Anshul Verma,Elected,"Sunday, May 18, 2014",In office,First,Hardoi,Uttar Pradesh,Bharatiya Janata Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
4,870,Anupriya Singh Patel,Elected,"Sunday, May 18, 2014",In office,First,Mirzapur,Uttar Pradesh,Apna Dal,Female,...,35.4,1.0,137.0,80.0,51.8,0.7,82.0,0.86,NaN,Lok Sabha

In [21]:
mydata.iloc[0:4]

,ID,MP Name,Nature of membership,Start of Term,End of Term,Number of terms,Constituency,State,Political party,Gender,...,National Debates average,National Private Member Bills average,National Questions average,National Attendance average,State's Debates average,State's Private Member Bills average,State Questions,State's Attendance average,Unnamed: 26,House
0,852,Ajay Misra Teni,Elected,"Sunday, May 18, 2014",In office,First,Kheri,Uttar Pradesh,Bharatiya Janata Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
1,855,Akshay Yadav,Elected,"Sunday, May 18, 2014",In office,First,Firozabad,Uttar Pradesh,Samajwadi Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
2,865,Anju Bala,Elected,"Sunday, May 18, 2014",In office,First,Misrikh,Uttar Pradesh,Bharatiya Janata Party,Female,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha
3,867,Anshul Verma,Elected,"Sunday, May 18, 2014",In office,First,Hardoi,Uttar Pradesh,Bharatiya Janata Party,Male,...,67.1,2.3,292.0,80.0,109.6,1.8,197.0,0.86,NaN,Lok Sabha

In [24]:
#Some useful extracting using slice operator [:]
#mydata.iloc[8:]
#mydata.iloc[::3]

In [25]:
#Selecting rows and columns simultaneously 
mydata.iloc[[0,3,4],[0,4,5]]

    ID End of Term Number of terms
0  852   In office           First
3  867   In office           First
4  870   In office           First